<p id="notice"><%= notice %></p>

<p>
  <strong>Dt inicio:</strong>
  <%= @intranet_substituto.dt_inicio %>
</p>

<p>
  <strong>Dt final:</strong>
  <%= @intranet_substituto.dt_final %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @intranet_substituto.cpf %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @intranet_substituto.rg %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @intranet_substituto.nome %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @intranet_substituto.telefone %>
</p>

<p>
  <strong>Whatsapp:</strong>
  <%= @intranet_substituto.whatsapp %>
</p>

<p>
  <strong>Email:</strong>
  <%= @intranet_substituto.email %>
</p>

<p>
  <strong>Atual?:</strong>
  <%= @intranet_substituto.atual? %>
</p>

<%= link_to 'Edit', edit_intranet_substituto_path(@intranet_substituto) %> |
<%= link_to 'Back', intranet_substitutos_path %>
