<p id="notice"><%= notice %></p>

<h1>Intranet Departamentos</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Ativo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @intranet_departamentos.each do |intranet_departamento| %>
      <tr>
        <td><%= intranet_departamento.descricao %></td>
        <td><%= intranet_departamento.ativo %></td>
        <td><%= link_to 'Show', intranet_departamento %></td>
        <td><%= link_to 'Edit', edit_intranet_departamento_path(intranet_departamento) %></td>
        <td><%= link_to 'Destroy', intranet_departamento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Intranet Departamento', new_intranet_departamento_path %>
