<% if can? :read, :novo_operador %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js@2.9.1/dist/Chart.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.1/dist/Chart.min.js"></script>
    <div class="container">
        <div class="top-dash" style="padding-top: 40px;">
            <div class="moldura">
                <div class="box um">
                    <%= icon('person-fill', class:"icon-dash")%> 
                    <p style="text-align: center;margin-top: -8px;">
                        <b style="font-size: 28px;color: white;"> 
                            <p id="cartorio_cad">0</p>
                        </b>  
                        <h6 id="legend_cartorio_cad">Cartórios Cadastrados</h6>
                    </p> 
                </div>
            </div>

            <div class="moldura">
                <div class="box dois">
                    <%= icon('person-check-fill', class:"icon-dash")%> 
                    <p style="text-align: center;margin-top: -8px;"> 
                        <b style="font-size: 28px;color: white;">  
                            <p id="cartorio_cad_c_assoc">0</p> 
                        </b>  
                        <h6 id="legend_cartorio_cad_c_assoc">Cartórios Associados</h6>
                    </p> 
                </div>
            </div>

            <div class="moldura">
                <div class="box tres">
                    <%= icon('cash-stack', class:"icon-dash")%> 
                    <p style="text-align: center;margin-top: -8px;"> 
                        <b style="font-size: 28px;color: white;"> 
                            <p id="cart_adimplente" >0</p> 
                        </b>  
                        <h6 id="legend_cart_adimplente">Cartórios Adiplentes</h6>
                    </p> 
                </div>
            </div>

            <div class="moldura">
                <div class="box quatro">
                    <%= icon('award', class:"icon-dash")%> 
                    <p style="text-align: center;margin-top: -8px;"> 
                        <b style="font-size: 28px;color: white;"> 
                            <p id="cartorio_cad_c_assoc_ativo">0</p> 
                        </b>  
                        <h6 id="legend_cartorio_cad_c_assoc_ativo">Associados Ativos</h6>
                    </p> 
                </div> 
            </div>
        </div>    
        <div class="article">
            <div style="display:flex;padding-top: 40px;">  
                <div style="width:49.5%;height:100%;margin-right:auto">
                    <span></span>
                    <canvas id="myChart" width="200" height="100"></canvas>
                </div>
                <div style="width:49.5%;height:100%;margin-left:auto">
                    <canvas id="myChart2" width="200" height="100"></canvas>
                </div>
            </div>
            <div style="display:flex;padding-top: 40px;margin-bottom: 9%;">  
                <div style="width:49.5%;height:100%;margin-right:auto">
                    <span></span>
                    <canvas id="myChart3" width="200" height="100"></canvas>
                </div>
                <div style="width:49.5%;height:100%;margin-left:auto">
                    <canvas id="myChart4" width="200" height="100"></canvas>
                </div>
            </div>
        </div>
    </div>
    <style>  
    #cartorio_cad{
        font-size: 28px;
        color: white;
        text-shadow: 0px 1px 6px black; 
        font-weight: bold; 
        margin-top: -15px;
    }
    #legend_cartorio_cad{   
        text-align: center;
        text-shadow: 0px 1px 6px black; 
        font-size: 14px;
        margin-top: -23px;
        font-weight: 600;
        color: #ffffff ;
    }
    #cartorio_cad_c_assoc{    
        font-size: 28px;
        text-shadow: 0px 1px 6px black; 
        color: white;
        font-weight: bold; 
        margin-top: -15px;
    }
    #legend_cartorio_cad_c_assoc{
        text-align: center; 
        font-size: 14px;
        font-weight: 600;
        margin-top: -23px;
        color: #ffffff;
        text-shadow: 0px 1px 6px black;
    }
    #cart_adimplente{
        font-size: 28px;
        color: white;
        text-shadow: 0px 1px 6px black; 
        font-weight: bold; 
        margin-top: -15px;
    }
    #legend_cart_adimplente{
        text-shadow: 0px 1px 6px black;
        text-align: center; 
        font-size: 14px;
        font-weight: 600;
        margin-top: -23px;
        color: #ffffff;
    }
    #cartorio_cad_c_assoc_ativo{
        font-size: 28px;
        text-shadow: 0px 1px 6px black; 
        color: white;
        font-weight: bold; 
        margin-top: -15px;
    }
    #legend_cartorio_cad_c_assoc_ativo{
        text-shadow: 0px 1px 6px black;
        text-align: center; 
        font-size: 14px;
        font-weight: 600;
        margin-top: -23px;
        color: #ffffff;
    }
    .moldura{ 
        margin-top: 12px;
        margin-bottom: 12px;
        background: #1e4779;
        box-shadow: 0px 1px 6px 3px #e6e6e6;
        margin-left: auto;
        margin-right: auto;
        border-radius: 7px;
        width: 117px;
        height: 124px
    }
    .top-dash{
        display:flex;
        flex-flow: wrap;
        padding-top:20px
    }
    .box{
        padding:2px
    }
    .um, .dois, .tres, .quatro{
        text-align: center;
        width: 103px;
        height: 96px;
        margin: 8px;
        margin-left:auto;
        margin-right:auto;
        border-radius: 7px; 
    }
    .um{
    background-color:#1e4779;
    }
    .dois{
    background-color: #1e4779;
    }
    .tres{
    background-color: #1e4779;
    }
    .quatro{
    background-color: #1e4779;
    }
    .icon-dash{
        margin: 2px;
        margin-left: -58px;
        padding: unset;
        width: 45px;
        height: 28px;
        color: #fff;
        margin-bottom: 0px;
    }

    .background_principal{
        background-position: top;
        background-position-y: 51px;
        padding-top: 166px; 
        background-size: 92px;
        background-image: url("<%= asset_pack_path('media/images/logo.png') %>");
        background-repeat: no-repeat;
    } 
    .article {
        position: relative;
        z-index: 1;
    }

    .article::before {
        content: "";
        position: absolute;
        top: 0; 
        left: 0;
        width: 100%; 
        height: 100%;  
        opacity: .1; 
        z-index: -1;
        background-image: url("<%= asset_pack_path('media/images/logo.png') %>");
        background-repeat: no-repeat;
        background-size: 262px;
        background-position-x: center;
        background-position-y: center;
    }
    </style> 

    <%= javascript_pack_tag "home_dashboard" %> 
<% else %>
<div class="container" style="margin-bottom: 200px;">  
    <div class="page-header">
        <h1 style="border-bottom: 1px solid #f8f9fa;margin-top: 3%;">Intranet</h1>      
    </div>
    <p>Manual do sistema.</p>  
    <div class="card mb-3"> 
        <div class="card-img-top"></div>
        <div class="card-body">
            <h5 class="card-title">Bem vindo(a).</h5>
            <p class="card-text">
                O novo Intranet foi desenvolvido para gente como você. 
            </p> 
        </div>
    </div> 
</div>
<style>
</style>
<% end %>