<div class="modal-header"> 
  	<i class="fas fa-times" class="close" data-dismiss="modal"></i>
  	<h4 class="modal-title" id="myModalLabel">Visualizar Usuário</h4>
</div>
<% if @user %>
	<div class="modal-body"> 
		<h4>Dados de Acesso</h4>
		<hr>
		<form> 
			<div class="field"> 
                <%= image_tag('default.png', style: 'width: 46px;height: 46px;border: 1px solid #eaeaea;border-radius: 50px;float: right;margin-top: -69px;' )%>
			</div> 
			<div class="field">
				<label>CPF</label><br />
				<div class="disabled">
					<input placeholder="<%= @user.cpf%>" class='form-control'><br />
				</div>
			</div>

			<div class="field" style="margin-top: -17px;">
				<label>E-mail</label><br />
				<div class="disabled">
					<input placeholder="<%= @user.email%>" class='form-control'><br />
				</div>
			</div>   
			<br>
			<h4>Dados do Associado</h4>
			<hr>
			<div class="field">
				<label>Nome</label><br />
				<div class="disabled">
					<input placeholder="<%= @associado.nome%>" class='form-control'><br />
				</div>
			</div> 
			<div class="field" style="margin-top: -17px;">
				<label>E-mail</label><br />
				<div class="disabled">
					<input placeholder="<%= @associado.email%>" class='form-control'><br />
				</div>
			</div> 
			<div style="display: flex;    margin-top: -17px;">
				<div class="field" style="width:48%;margin-right: 4%;">
					<label>RG</label><br>
					<div class="disabled">
						<input placeholder="<%= @associado.rg%>" class='form-control'><br />
					</div>
				</div> 
				<div class="field" style="width:48%">
					<label>RG Emissor</label><br>
					<div class="disabled">
						<input placeholder="<%= @associado.rg_emissor%>" class='form-control'><br />
					</div>
				</div>
			</div>
			<div style="display: flex;    margin-top: -17px;">
				<div class="field" style="width:48%;margin-right: 4%;">
					<label>Função</label><br>
					<div class="disabled">
						<input placeholder="<%= @associado.funcao%>" class='form-control'><br />
					</div>
				</div> 
				<div class="field" style="width:48%">
					<label>Sexo</label><br>
					<div class="disabled">
						<input placeholder="<%= "Maculino" if @associado.sexo%>" class='form-control'><br />
					</div>
				</div>
			</div>

			<div style="display: flex;    margin-top: -17px;">
				<div class="field" style="width:48%;margin-right: 4%;">
					<label>CEP</label><br>
					<div class="disabled">
						<input placeholder="<%= @associado.cep%>" class='form-control'><br />
					</div>
				</div> 
				<div class="field" style="width:48%">
					<label>Telefone</label><br>
					<div class="disabled">
						<input placeholder="<%= @associado.telefone_1%>" class='form-control'><br />
					</div>
				</div>
			</div>
			<h4>Dados do Cartório</h4>
			<hr>
			<div class="field" >
				<label>Nome Resumido</label><br />
				<div class="disabled">
					<input placeholder="<%= @cartorio.nome_res%>" class='form-control'><br />
				</div>
			</div>  
			<div class="field" >
				<label>E-mail</label><br />
				<div class="disabled">
					<input placeholder="<%= @cartorio.email%>" class='form-control'><br />
				</div>
			</div>  
			<div style="display: flex;    margin-top: -17px;">
				<div class="field" style="width:48%;margin-right: 4%;">
					<label>Serventia</label><br>
					<div class="disabled">
						<input placeholder="<%= @cartorio.cod_tj%>" class='form-control'><br />
					</div>
				</div> 
				<div class="field" style="width:48%">
					<label>CNJ</label><br>
					<div class="disabled">
						<input placeholder="<%= @cartorio.cod_cnj%>" class='form-control'><br />
					</div>
				</div>
			</div> 
			<div style="display: flex;    margin-top: -17px;">
				<div class="field" style="width:48%;margin-right: 4%;">
					<label>CEP</label><br>
					<div class="disabled">
						<input placeholder="<%= @cartorio.cep%>" class='form-control'><br />
					</div>
				</div> 
				<div class="field" style="width:48%">
					<label>Telefone</label><br>
					<% if @cartorio.telefone_celular%>
						<div class="disabled">
							<input placeholder="<%= @cartorio.telefone_celular%>" class='form-control'><br />
						</div>
					<% else %>
						<div class="disabled">
							<input placeholder="<%= @cartorio.telefone_fixo%>" class='form-control'><br />
						</div>
					<% end %>
				</div>
			</div>
			<div class="field">
				
				<h4>Documentação do Filiado</h4>
				<hr>
				<p>
				Termo de Posse: <span style="float:right"><%= link_to "Download", rails_blob_path(@user.termo_posse, disposition: 'inline'), target:'blank',	class:"btn btn-info" ,style:"height: 21px;font-size: 13px;padding-top: 0px;"%></span><br />
				RG Frente: <span style="float:right"><%= link_to "Download", rails_blob_path(@user.rg_photo_1, disposition: 'inline'), target:'blank',			class:"btn btn-info" ,style:"height: 21px;font-size: 13px;padding-top: 0px;"%></span><br />
				RG Verso: <span style="float:right"><%= link_to "Download", rails_blob_path(@user.rg_photo_2, disposition: 'inline'), target:'blank',			class:"btn btn-info" ,style:"height: 21px;font-size: 13px;padding-top: 0px;"%></span><br />
				Termo de Filiação: <span style="float:right"><%= link_to "Download", rails_blob_path(@user.fixa_assinada,disposition: 'inline'), target:'blank',class:"btn btn-info",style:"height: 21px;font-size: 13px;padding-top: 0px;"%></span><br />
				<% if @user.cpf_photo.attached? %>
					CPF: <span style="float:right"><%= link_to "Download", rails_blob_path(@user.cpf_photo, disposition: 'inline', target:'blank',class:"btn btn-info") %></span>
				<% end %>
				</p>
			</div> 
		</form>	
	</div>
<% end %>  
<script> 
	
</script>
<style>
	.disabled { 
    pointer-events: none; 
  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; 
  user-select: none;
}
.disabled *:focus { outline: 0; }
</style>