 
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel"  style="background: #0b386b;">
  <div class="carousel-indicators" >
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner" style="text-shadow: 1px 2px 4px #000000;">
    <div class="carousel-item active">
      <%= image_tag('image1.png'),class:"d-block w-100",style:"object-fit: cover;height: 392px;min-width: 360px !important;margin: auto;max-width: 600px"%>
      <div class="carousel-caption d-md-block">
        <h5></h5>
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag('image2.png'),class:"d-block w-100",style:"object-fit: cover;height: 392px;min-width: 360px !important;margin: auto;max-width: 600px"%>
      <div class="carousel-caption d-md-block">
        <h5>Equipe Anoreg-CE</h5>
        <p>Sempre trabalhando para lhe garantir um ótimo desempenho.</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag('image3.png'),class:"d-block w-100",style:"object-fit: cover;height: 392px;min-width: 360px !important;margin: auto;max-width: 600px"%>
      <div class="carousel-caption d-md-block">
        <h5></h5>
        <p></p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container" style="height:30px;"> 
    <% if @adimplente.adimplente %>
        <div class="banner-1">  
            <% if can? :read, :aviso %>
                <div class="element"> 
                    <%= link_to intranet_avisos_path, class:"element" do %> 
                        <div>
                            <% if @avisonumb%>
                                <% if @avisonumb.size > 0 %>
                                    <div class="notify_number"><i class="fas fa-circle"></i></i></div>
                                <% end %> 
                            <% end %>
                            <i class="fas fa-exclamation-circle icon-notify"></i><br/>
                            <label>Avisos</label> 
                        </div>
                    <% end %>
                </div>  
            <% end %>
            <% if can? :read, :event %>
                <div class="element">   
                    <%= link_to intranet_events_path, class:"element" do %>  
                        <% if @eventnumb%>
                            <% if @eventnumb.size > 0 %>
                                <div class="notify_number"><i class="fas fa-circle"></i></i></div>
                            <% end %>  
                        <% end %>
                    <i class="fas fa-calendar-day icon-notify"></i><br/>
                    <label>Eventos</label>
                    <% end %>
                </div>
            <% end %>
            <% if can? :read, :arquivo %>
                <div class="element">   
                    <%= link_to intranet_arquivos_path, class:"element" do %>  
                        <% if @arquivosnumb%>
                            <% if @arquivosnumb.size > 0 %>
                                <div class="notify_number"><i class="fas fa-circle"></i></i></div>
                            <% end %>  
                        <% end %>
                        <i class="fas fa-file-download icon-notify"></i><br/>
                        <label>Arquivos</label>
                    <% end %>
                </div> 
            <% end %>
            <% if can? :read, :pergunt %>
                <div class="element"> 
                    <%= link_to intranet_pergunts_path, class:"element" do %>  
                        <% if @perguntnumb%>
                            <% if @perguntnumb.size > 0 %>
                                <div class="notify_number"><i class="fas fa-circle"></i></i></div>
                            <% end %>  
                        <% end %>
                        <i class="fas fa-comments icon-notify"></i><br/>
                        <label>Perguntas</label>
                    <% end %>
                </div>
            <% end %>
        </div>
    <% end %>
    <div class="banner-2" style="margin: 22px;">
        <p style="line-height: 23px;color: #0b386b;font-size: 24px;font-weight: bolder;">Feed de notícias<br />
        <span style="color:#134a88;font-size: 14px;">ultima atualização <%= Time.now.strftime("%d/%m/%Y às %H:%M")%></span></p>
        <% if @boletosnumb%>
            <% @boletosnumb.each do |boleto| %>
                <div class="container-feed">
                    <div class="element-feed shadow-sm p-3 mb-5 bg-white rounded" style="display:flex;margin-bottom: 1rem !important;">
                        <div class="image-feed">  
                            <i class="fas fa-hand-holding-usd icon-feed"></i>
                        </div>
                        <div class="texto" style="width: 100%;">
                            <p class="titulo"> 
                                <span style="font-size: 18px;"><%= boleto.descricao %></span>
                                <br> 
                                <span class="conteudo" style="float: left;font-size: 14px;width: 100%;">
                                    Vencimento<%= boleto.vencimento.strftime("%d/%m/%Y") %> 
                                </span>
                            </p>
                            <br>
                            <p class="conteudo"><%= boleto.descricao %>, <%= link_to 'Ler mais', boleto, style:"text-decoration:none"%>.</p>
                        </div>
                    </div>
                </div>
            <% end %> 
        <% end %> 
        <% if @avisonumb%>
            <% @avisonumb.each do |aviso| %>
                <div class="container-feed">
                    <div class="element-feed shadow-sm p-3 mb-5 bg-white rounded" style="display:flex;margin-bottom: 1rem !important;">
                        <div class="image-feed">  
                            <i class="fas fa-exclamation-circle icon-feed"></i>
                        </div>
                        <div class="texto" style="width: 100%;">
                            <p class="titulo"> 
                                <span style="font-size: 18px;"><%= aviso.titulo %></span>
                                <br> 
                                <span class="conteudo" style="float: left;font-size: 14px;width: 100%;">
                                    <%= aviso.created_at.strftime("%d/%m/%Y às %H:%M") %> 
                                    <% if aviso.read_at == nil %> 
                                        <span class="status_aviso">NOVO</span>
                                    <% end %> 
                                </span>
                            </p>
                            <br>
                            <p class="conteudo"><%= aviso.descricao %>, <%= link_to 'Ler mais', aviso, style:"text-decoration:none"%>.</p>
                        </div>
                    </div>
                </div>
            <% end %> 
        <% end %> 
        <% if @eventnumb%>
            <% @eventnumb.each do |event| %>
                <div class="container-feed">
                    <div class="element-feed shadow-sm p-3 mb-5 bg-white rounded" style="display:flex;margin-bottom: 1rem !important;">
                        <div class="image-feed">   
                            <i class="fas fa-calendar-day icon-feed"></i>
                        </div>
                        <div class="texto" style="width: 100%;">
                            <p class="titulo"> 
                                <span style="font-size: 18px;"><%= event.titulo %></span>
                                <br> 
                                <span class="conteudo" style="float: left;font-size: 14px;width: 100%;">
                                    <%= event.created_at.strftime("%d/%m/%Y às %H:%M") %> 
                                    <% if @presenc.where(m_id: event.id,intranet_associado: @dados_assoc.id,m_name: 'evento') == nil %> 
                                        <span class="status_aviso">NOVO</span>
                                    <% end %> 
                                </span>
                            </p>
                            <br>
                            <p class="conteudo">Novo Evento clique, <%= link_to 'AQUI', event, style:"text-decoration:none"%> para conferir.</p>
                        </div>
                    </div>
                </div>
            <% end %> 
        <% end %>  
        <% if @arquivosnumb%>
            <% @arquivosnumb.each do |arquivo| %>
                <div class="container-feed">
                    <div class="element-feed shadow-sm p-3 mb-5 bg-white rounded" style="display:flex;margin-bottom: 1rem !important;">
                        <div class="image-feed">   
                            <i class="fas fa-file-download icon-feed"></i>
                        </div>
                        <div class="texto" style="width: 100%;">
                            <p class="titulo"> 
                                <span style="font-size: 18px;"><%= arquivo.descricao %></span>
                                <br> 
                                <span class="conteudo" style="float: left;font-size: 14px;width: 100%;">
                                    <%= arquivo.created_at.strftime("%d/%m/%Y às %H:%M") %>  
                                </span>
                            </p>
                            <br>
                            <p class="conteudo">Novo Arquivo clique, <%= link_to 'AQUI', arquivo, style:"text-decoration:none"%> para conferir.</p>
                        </div>
                    </div>
                </div>
            <% end %> 
        <% end %> 
        <% if @perguntnumb%>
            <% @perguntnumb.each do |pergunt| %>
                <div class="container-feed">
                    <div class="element-feed shadow-sm p-3 mb-5 bg-white rounded" style="display:flex;margin-bottom: 1rem !important;">
                        <div class="image-feed">  
                            <i class="fas fa-comments icon-feed"></i>
                        </div>
                        <div class="texto" style="width: 100%;">
                            <p class="titulo"> 
                                <span style="font-size: 18px;"><%= pergunt.assunto %></span>
                                <br> 
                                <span class="conteudo" style="float: left;font-size: 14px;width: 100%;">
                                    <%= pergunt.created_at.strftime("%d/%m/%Y às %H:%M") %> 
                                    <% if pergunt.mensagem_resposta != nil %> 
                                        <span class="status_aviso">NOVO</span>
                                    <% end %> 
                                </span>
                            </p>
                            <br>
                            <p class="conteudo">Pergunta respondida clique, <%= link_to 'AQUI', pergunt, style:"text-decoration:none"%> para conferir.</p>
                        </div>
                    </div>
                </div>
            <% end %> 
        <% end %>  
        <% if @reunionnumb%>
            <% @reunionnumb.each do |reunion| %>
                <div class="container-feed">
                    <div class="element-feed shadow-sm p-3 mb-5 bg-white rounded" style="display:flex;margin-bottom: 1rem !important;">
                        <div class="image-feed">  
                            <i class="fas fa-users icon-feed"></i>
                        </div>
                        <div class="texto" style="width: 100%;">
                            <p class="titulo"> 
                                <span style="font-size: 18px;"><%= reunion.assunto %></span>
                                <br> 
                                <span class="conteudo" style="float: left;font-size: 14px;width: 100%;">
                                    Data da reunião <%= reunion.data.strftime("%d/%m/%Y") %>  
                                </span>
                            </p>
                            <br>
                            <p class="conteudo">Nova Reunião clique, <%= link_to 'AQUI', reunion, style:"text-decoration:none"%> para conferir.</p>
                        </div>
                    </div>
                </div>
            <% end %> 
        <% end %> 
        <div style="margin-top: 44px;height:209px;text-align: center;color: #134a88;"> 
            <hr style="background-color: #134a88;margin: 13px;height: 1px;"> 
            <p><%= @cart_current.nome %></p>
        </div>
    </div> 
</div> 

<style>

.container-feed{
    line-height: 19px;
}
.texto{
    margin-left: 6px;
}
.image-feed{
    text-align: center;
    background: #134a88;
    border-radius: 5px;
    text-align: center;
    height: 64px;
    width: 75px;
    align-self: center;
}
.icon-feed{  
    font-size: 20px;
    color: white; 
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: 19px;
}
.titulo{
    margin: 0px;
    padding: 0px;
    color: #0b386b;
    font-weight: bolder;
}
.conteudo{
    margin: 0px;
    padding: 0px;
    color: #86807c;
}
.conteudo a{
    color: #393939;
}
.icon-notify{  
    font-size: 21px;
    color: #0b386b; 
    margin: auto;
}
.carousel-indicators {
    z-index: 1;
}
.carousel-indicators li{
    box-sizing: content-box !important;
    flex: 0 1 auto !important;
    width: 35px !important;
    height: 10px !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
    text-indent: -999px !important;
    cursor: pointer !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border-top: 0px solid transparent !important;
    border-bottom: 0px solid transparent !important;
    opacity: 0.2;
    transition: opacity 0.6s ease !important;
    border-radius: 35px !important;
    margin-top: -24px !important;
}
.element{
    margin: auto;
    margin-top: 30px;
    text-align:center;
    width:25%;
}
.element-feed{
    margin-top: 20px; 
    margin-bottom: 20px;
}
.element label{
    display: inline-block;
    margin-bottom: 0.5rem;
    font-weight: bolder;
    color: #0b386b;
    font-size: 12px;
}
.banner-1{
    z-index: 0;
    align-items: center;
    justify-content: center;
    height: 124px;
    margin-top: -17px;
    background: white;
    position: relative;
    border-radius: 10px;
    width: 100%; 
    display:flex;
}
.element-feed:hover .image-feed{
    background:#0b386b !important;
    border-radius: 6px;
} 
.notify_number{
    position: relative;
    margin-left: 51%;
    max-width: 23px;
    margin-bottom: -16px;
    color: #5ace0a;
    font-weight: bold;
    font-size: 9px;
    border-radius: 9px;
    padding: 1px;
}
.status_aviso{background: #0b386b;
color: white; 
padding-left: 5px;
border-radius: 14px;
padding-right: 5px; 
font-weight: bold; 
font-size: 12px; 
margin-left: 13px; 
vertical-align: middle;
}
</style>