  
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="background: #ff8b45;">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" > 
            <a href="#"><%= image_tag 'image1.png',class:"d-block w-100",style:"height: 500px;min-width: 360px !important;margin: auto;max-width: 600px"%></a>
        </div>
        <div class="carousel-item">
            <a href="#"><%= image_tag 'image2.png',class:"d-block w-100",style:"height: 500px;min-width: 360px !important;margin: auto;max-width: 600px"%></a>
        </div>
        <div class="carousel-item">
            <a href="#"><%= image_tag 'image3.png',class:"d-block w-100",style:"height: 500px;min-width: 360px !important;margin: auto;max-width: 600px"%></a>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="container" style="height:30px;">
    <div class="banner-1"> 
        <%= link_to intranet_avisos_path, class:"element",style:"margin-top: 28px;" do %> 
            <div>
                <% if @avisonumb.size > 0 %>
                    <div class="notify_number"><%= @avisonumb.size %> <i class="fas fa-fire" style=""></i></div>
                <% end %> 
                <i class="fas fa-exclamation-circle icon-notify"></i><br/>
                <label>AVISOS</label>
                
            </div>
        <% end %>
        <div class="element"> 
            <i class="fas fa-hand-holding-usd icon-notify"></i><br/>
            <label>FINANÇAS</label>
        </div>
        <div class="element"> 
            <i class="fas fa-calendar-day icon-notify"></i><br/>
            <label>EVENTOS</label>
        </div>
        <div class="element"> 
            <i class="fas fa-file-download icon-notify"></i><br/>
            <label>ARQUIVOS</label>
        </div>
    </div>
    <div class="banner-2">
        <p style="line-height: 23px;color: #ff6000;font-size: 24px;font-weight: bolder;">Feed de notícias<br />
        <span style="color: #fba571;font-size: 14px;">ultima atualização <%= Time.now.strftime("%d/%m/%Y às %H:%M")%></span></p>
        <% @aviso.each do |aviso| %>
            <div class="container-feed">
            <div class="element-feed" style="display:flex;">
                <div class="image-feed"> 
                    <%= icon('exclamation-circle-fill', class:"icon-feed")%>
                </div>
                <div class="texto" style="width: 100%;">
                    <p class="titulo"> 
                            <span style="font-size: 18px;"><%= aviso.titulo %></span>
                    <br>
                             
                        <span class="conteudo" style="float: left;font-size: 14px;width: 100%;">
                            <%= aviso.created_at.strftime("%d/%m/%Y às %H:%M") %> 
                            <% if aviso.read_at == nil %> 
                                <span class="status_aviso">NOVO</span>
                            <% end %> 
                        </span>
                    </p>
                    <br>
                    <p class="conteudo"><%= aviso.descricao %>, <%= link_to 'Ler mais', aviso, style:"text-decoration:none"%>.</p>
                </div>
            </div>
        </div>
        <% end %> 
        
    <div style="margin-top: 44px;height:209px;text-align: center;color: #ff8b45;"> 
        <hr style="background-color: #fba571;margin: 13px;height: 1px;">
        <a href="#">Ir para central de notícias</a>
    </div>
    </div>
</div>
<style>
.container-feed{
    line-height: 19px;
}
.texto{
    margin-left: 6px;
}
.image-feed{
    background: #fba571;
    border-radius: 5px; 
    align-self: center;
}
.icon-feed{ 
    padding: 12px;
    width: 58px;
    height: 54px;
    color: white;
    margin: 9px; 
}
.titulo{
    margin: 0px;
    padding: 0px;
    color: #ff6000;
    font-weight: bolder;
}
.conteudo{
    margin: 0px;
    padding: 0px;
    color: #86807c;
}
.conteudo a{
    color: #393939;
}
.icon-notify{  
    font-size: 37px;
    color: #ff6000; 
    margin: auto;
}
.carousel-indicators {
    z-index: 1;
}
.carousel-indicators li{
    box-sizing: content-box !important;
    flex: 0 1 auto !important;
    width: 35px !important;
    height: 10px !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
    text-indent: -999px !important;
    cursor: pointer !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border-top: 0px solid transparent !important;
    border-bottom: 0px solid transparent !important;
    opacity: 0.2;
    transition: opacity 0.6s ease !important;
    border-radius: 35px !important;
    margin-top: -24px !important;
}
.element{
    margin: auto;
    margin-top: 30px;
    text-align:center;
    width:25%;
}
.element-feed{
    margin-top: 20px; 
    margin-bottom: 20px;
}
.element label{
    display: inline-block;
    margin-bottom: 0.5rem;
    font-weight: bolder;
    color: #ff6000;
    font-size: 12px;
}
.banner-1{
    z-index: 0;
    align-items: center;
    justify-content: center;
    height: 124px;
    margin-top: -17px;
    background: white;
    position: relative;
    border-radius: 10px;
    width: 100%; 
    display:flex;
}
.element-feed:hover .image-feed{
    background:#ff6000 !important;
    border-radius: 6px;
} 
.notify_number{
    position: relative;
    margin-left: 69%;
    background: #ff6000;
    max-width: 23px;
    margin-bottom: -16px;
    color: #fff;
    font-weight: bold;
    font-size: 9px;
    border-radius: 9px;
    padding: 3px;
}
.status_aviso{background: #ff6000;
color: white; 
padding-left: 5px;
border-radius: 14px;
padding-right: 5px; 
font-weight: bold; 
font-size: 12px; 
margin-left: 13px; 
vertical-align: middle;
}
</style>