  
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="background: #ff8b45;">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active"> 
        <%= image_tag 'back_slide.jpg',class:"d-block w-100",style:"height: 241px;"%>
        </div>
        <div class="carousel-item">
        <%= image_tag 'back_slide.jpg',class:"d-block w-100",style:"height: 241px;"%>
        </div>
        <div class="carousel-item">
        <%= image_tag 'back_slide.jpg',class:"d-block w-100",style:"height: 241px;"%>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="container" style="height:30px;">
    <div class="banner-1"> 
        <div class="element">
            <%= icon('exclamation-circle-fill', class:"icon-notify")%><br/>
            <label>AVISOS</label>
        </div>
        <div class="element">
            <%= icon('clipboard-data', class:"icon-notify")%><br/>
            <label>FINANÇAS</label>
        </div>
        <div class="element">
            <%= icon('calendar-event', class:"icon-notify")%><br/>
            <label>EVENTOS</label>
        </div>
        <div class="element">
            <%= icon('file-earmark-arrow-down-fill', class:"icon-notify")%><br/>
            <label>ARQUIVOS</label>
        </div>
    </div>
    <div class="banner-2">
        <p style="line-height: 23px;color: #ff6000;font-size: 24px;font-weight: bolder;">Novidades e notícias<br />
        <span style="color: #fba571;font-size: 14px;">ultima interação 10/03/2021</span></p>
        <div class="container-feed">
            <div class="element-feed" style="display:flex;">
                <div class="image-feed">
                    <%= icon('exclamation-circle-fill', class:"icon-feed")%>
                </div>
                <div class="texto">
                    <p class="titulo">Essa é uma atividades teste para saber o limite de letras</p>
                    <p class="conteudo">Lorem ipsum dolor sit amet adiscipliscing... <a href="#">Ler mais</a>.</p>
                </div>
            </div>
        </div>
        <div class="container-feed">
            <div class="element-feed" style="display:flex;">
                <div class="image-feed">
                    <%= icon('clipboard-data', class:"icon-feed")%>
                </div>
                <div class="texto">
                    <p class="titulo">Teste até 57 letras, limitar nos inputs</p>
                    <p class="conteudo">Lorem ipsum dolor sit amet adiscipliscing... <a href="#">Ler mais</a>.</p>
                </div>
            </div>
        </div>

        <div class="container-feed">
            <div class="element-feed" style="display:flex;">
                <div class="image-feed">
                    <%= icon('calendar-event', class:"icon-feed")%>
                </div>
                <div class="texto">
                    <p class="titulo">Teste</p>
                    <p class="conteudo">Lorem ipsum dolor sit amet adiscipliscing... <a href="#">Ler mais</a>.</p>
                </div>
            </div>
        </div>
        <div class="container-feed">
            <div class="element-feed" style="display:flex;">
                <div class="image-feed">
                    <%= icon('file-earmark-arrow-down-fill', class:"icon-feed")%>
                </div>
                <div class="texto">
                    <p class="titulo">Teste</p>
                    <p class="conteudo">Lorem ipsum dolor sit amet adiscipliscing... <a href="#">Ler mais</a>.</p>
                </div>
            </div>
        </div>
        <div class="container-feed">
            <div class="element-feed" style="display:flex;">
                <div class="image-feed">
                    <%= icon('exclamation-circle-fill', class:"icon-feed")%>
                </div>
                <div class="texto">
                    <p class="titulo">Teste</p>
                    <p class="conteudo">Lorem ipsum dolor sit amet adiscipliscing... <a href="#">Ler mais</a>.</p>
                </div>
            </div>
        </div>
        <div class="container-feed">
            <div class="element-feed" style="display:flex;">
                <div class="image-feed">
                    <%= icon('file-earmark-arrow-down-fill', class:"icon-feed")%>
                </div>
                <div class="texto">
                    <p class="titulo">Teste</p>
                    <p class="conteudo">Lorem ipsum dolor sit amet adiscipliscing... <a href="#">Ler mais</a>.</p>
                </div>
            </div>
        </div>
        <div class="container-feed">
            <div class="element-feed" style="display:flex;">
                <div class="image-feed">
                    <%= icon('exclamation-circle-fill', class:"icon-feed")%>
                </div>
                <div class="texto">
                    <p class="titulo">Teste</p>
                    <p class="conteudo">Lorem ipsum dolor sit amet adiscipliscing... <a href="#">Ler mais</a>.</p>
                </div>
            </div>
        </div>
    <div style="height:111px;text-align: center;color: #ff8b45;"> 
        <hr style="background-color: #fba571;margin: 13px;height: 1px;">
        <a href="#">Ir para central de notícias</a>
    </div>
    </div>
</div>
<style>
.container-feed{
    line-height: 19px;
}
.texto{
    margin-left: 6px;
}
.image-feed{
    background: #fba571;
    border-radius: 5px; 
    align-self: center;
}
.icon-feed{
    background: #fba571;
    padding: 12px;
    width: 58px;
    height: 54px;
    color: white;
    margin: 9px; 
}
.titulo{
    margin: 0px;
    padding: 0px;
    color: #ff6000;
    font-weight: bolder;
}
.conteudo{
    margin: 0px;
    padding: 0px;
    color: #86807c;
}
.conteudo a{
    color: #393939;
}
.icon-notify{ 
    width: 29px;
    height: 50px; 
    color: #ff6000; 
    margin: auto;
}
.carousel-indicators {
    z-index: 1;
}
.carousel-indicators li{
    box-sizing: content-box !important;
    flex: 0 1 auto !important;
    width: 35px !important;
    height: 10px !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
    text-indent: -999px !important;
    cursor: pointer !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border-top: 0px solid transparent !important;
    border-bottom: 0px solid transparent !important;
    opacity: 0.2;
    transition: opacity 0.6s ease !important;
    border-radius: 35px !important;
    margin-top: -24px !important;
}
.element{
    margin: auto;
    margin-top: 13px;
    text-align:center;
    width:25%;
}
.element-feed{
    margin-top: 20px;
    height: 73px;
    margin-bottom: 20px;
}
.element label{
    display: inline-block;
    margin-bottom: 0.5rem;
    font-weight: bolder;
    color: #ff6000;
    font-size: 12px;
}
.banner-1{
    align-items: center;
    justify-content: center;
    height: 124px;
    margin-top: -17px;
    background: white;
    position: relative;
    border-radius: 10px;
    width: 100%; 
    display:flex;
}
.element-feed:hover .image-feed{
    background:#ff6000 !important;
    border-radius: 6px;
}
.element-feed:hover .icon-feed{
    background:#ff6000 !important;
    border-radius: 6px;
}
</style>