<%= javascript_pack_tag "admin_edit" %> 
<div class="container" style="margin-bottom: 7%;">
  <div class="page-header">
		<h1 style="border-bottom: 1px solid #f8f9fa;margin-top: 3%;">Dados Pessoais</h1>      
	</div> 
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), multipart: true, html: { method: :put }) do |f| %>
    <div class="row" style="margin-right: 0px;margin-left: 0px;">
      <div class="col-3 card shadow p-3 mb-5 bg-white rounded" style="text-align: center;background: #f8f9fa;margin-right: 1%;height: 380px;">
        <% if @admin.avatar.attached? %>
          <%= image_tag(polymorphic_url(current_admin.avatar), class: 'shadow-sm mb-5 bg-white rounded foto_edit',id:"foto_edit" )%> 
        <% else %>
          <%= image_pack_tag('default.png', class: 'shadow-sm mb-5 bg-white rounded foto_edit',id:"foto_edit" )%>
        <% end %>
        <span class="foto_edit_edit" aria-hidden="true"><i class="fas fa-pen" style="padding:8px"></i></span>
        <%= f.file_field :avatar,style:"display:none",id:"admin_avatar",class:"form-control"%>
        <div style="margin-bottom: 14px;margin-top: -37px;">
          <span style="font-weight: bolder;font-size: 21px;"><%= @admin.nome%></span>
        </div>
        <div class="form-group" style="display:flex;">  
          <div style="width:100%;margin-right:auto">  
            <label  class="col-sm-2 col-form-label" style="max-width: inherit;padding-left: 0px;padding-right: 0px;text-align: left;">
              Ultimo Login   
            </label>
            <%= f.date_field :updated_at, class:"form-control", readonly:true%> 
          </div>  
        </div> 
      </div>
      <div class="col card shadow p-3 mb-5 bg-white rounded" style="background: #f8f9fa;"> 
        <div class="form-group" style="display:flex;margin-top: 13px;"> 
          <div style="width:100%;">  
            <label  class="col-sm-2 col-form-label" style="max-width: inherit;padding-left: 0px;padding-right: 0px;">
              Nome 
              <% if can? :read, :novo_operador %>
                <span style="float: right;font-size: 13px;margin-top: 4px;">Operador master? <%= f.check_box :isAdmin %></span>
              <% end %>
            </label>
            <%= f.text_field :nome, class:"form-control", required:true %> 
          </div>     
        </div> 
        <div class="form-group" style="display:flex;">  
          <div style="width:100%;"> 
            <%= f.label "Email" %>
            <%= f.text_field :email, class:"form-control", required:true %> 
          </div>  
        </div> 
        <div class="form-group" style="display:flex;">  
          <div style="width:49.5%;margin-right:auto"> 
            <%= f.label "CPF" %>
            <%= f.text_field :cpf, class:"form-control", required:true, readonly:@edit %> 
          </div> 
          <div style="width:49.5%;margin-left:auto"> 
            <%= f.label "Lembrete de senha" %>
            <%= f.text_field :lembrete, class:"form-control", required:true %> 
          </div>  
        </div>
        <div class="form-group" style="display:flex;">  
          <div style="width:49.5%;margin-right:auto">  
            <label  class="col-sm-2 col-form-label" style="max-width: inherit;padding-left: 0px;padding-right: 0px;">
              Data de criação 
              <span style="float: right;font-size: 13px;margin-top: 4px;">Operador ativo? <%= f.check_box :acesso %></span>
            </label>
            <%= f.date_field :created_at, class:"form-control", readonly:true%> 
          </div>
          <div style="width:49.5%;margin-left:auto">  
            <label  class="col-sm-2 col-form-label" style="max-width: inherit;padding-left: 0px;padding-right: 0px;">
              Ultima atualização 
            </label>
            <%= f.date_field :updated_at, class:"form-control", readonly:true %> 
          </div>   
        </div> 
        <% if can? :read, :novo_operador %>
          <div class="form-group" style="display:flex;">  
            <div style="width:49.5%;margin-right:auto">  
              <%= f.label :privilegio_id %>
              <div class="form-control" style="overflow-y: scroll;height: 200px;padding-top: 12px;">
                <% @privilegios.each  do |privilegio| %> 
                  <p style="display:flex;margin-bottom: 0px;">  
                    <% if (@admin.privilegio_id & [privilegio.id]).any? %> 
                      <span style="margin: 1px;" ><input type="checkbox" id="admin[privilegio_id]" name="admin[privilegio_id][]" value="<%= privilegio.id %>" checked></span>
                    <% else %> 
                      <span style="margin: 1px;" ><input type="checkbox" id="admin[privilegio_id]" name="admin[privilegio_id][]" value="<%= privilegio.id %>"></span>
                    <% end %>
                    <%= f.label privilegio.descricao %>
                  </p>
                <% end %>
              </div>
            </div>
            <div style="width:49.5%;margin-left:auto">  
              <%= f.label :departamento_id %> 
              <div class="form-control" style="overflow-y: scroll;height: 200px;padding-top: 12px;">
                <% @dapartamentos.each do |departamento| %> 
                  <p style="display:flex;margin-bottom: 0px;  "> 
                    <% if (@admin.departamento_id & [departamento.id]).any? %> 
                      <span style="margin: 1px;" ><input type="checkbox" id="admin[departamento_id]" name="admin[departamento_id][]" value="<%= departamento.id %>" checked></span>
                    <% else %> 
                      <span style="margin: 1px;" ><input type="checkbox" id="admin[departamento_id]" name="admin[departamento_id][]" value="<%= departamento.id %>"></span>
                    <% end %>
                    <%= f.label departamento.descricao %>
                  </p>
                <% end %>
              </div>
            </div>   
          </div> 
        <% end %>
        <hr>
        <div class="form-group" style="display:flex;">  
          <div style="width:49.5%;margin-right:auto"> 
            <%= f.label "Nova senha" %>
            <%= f.password_field :password, class:"form-control",placeholder:"6 caracteres no mínimo" %> 
          </div> 
          <div style="width:49.5%;margin-left:auto"> 
            <%= f.label "Confirmar senha" %>
            <%= f.password_field :password_confirmation, class:"form-control",placeholder:"6 caracteres no mínimo" %> 
          </div>  
        </div> 
        <hr>
        <div class="form-group" style="display:flex;">  
          <div style="width:49.5%;margin-right:auto">  
            <label  class="col-sm-2 col-form-label" style="max-width: inherit;padding-left: 0px;padding-right: 0px;">
              Senha atual 
              <span style="float: right;font-size: 13px;margin-top: 4px;">Preencha para pode salvar os dados.</span>
            </label>
            <%= f.password_field :current_password, class:"form-control",placeholder:"Senha atual do admin" %> 
            <%= f.check_box :senhaPadrao, type:"hidden",style:"opacity:0; position:absolute;" %> 
          </div>  
        </div> 
      </div> 
    </div>  
    <br>
    <div class="actions">
      <%= f.submit "Salvar",class:"btn btn-primary",style:"float: right;" %>
    </div>
    <%= link_to :back do %>
      <button class="btn btn-secondary" style="float:left">Voltar</button>
    <% end %>
  <% end %>  
</div>
<style>
.foto_edit{
  width: 160px;
  height: 160px;
  margin: auto;
  padding: 0px;
  margin-top: 27px;
  border: 1px solid transparent;
  border-radius: 7.25rem !important;
  object-fit: cover;
}
.foto_edit_edit{
  background: #b0deff; 
  position: absolute;
  bottom: 176px;
  left: 171px;
  border-radius: 50%;
  color: #0b386b;
  border: 2px solid white;
}    
  
.foto_edit_edit:hover{
  background: #83cbff; 
  position: absolute;
  bottom: 176px;
  left: 171px;
  border-radius: 50%;
  color: #042142;
  border: 2px solid white;
}    
  .col-sm-2{
    max-width: 100%;
    width: 100%;
  } 	
</style> 