<div class="container">    
	<div class="page-header">
		<h1 style="border-bottom: 1px solid #f8f9fa;margin-top: 3%;">Privilégios</h1>      
	</div>
	<p>Gerenciar privilégios do sistema.</p>    
	<%= form_with(url:'/intranet/privilegios',method: :get, id:"form_assoc")  do |f| %>   
		<%= select_tag(:status, options_for_select([["Ativo",true],["Desativado",false]],params[:status]), class:"form-control",prompt:"Status do privilégio",style:"margin-right:1%;",id:"params_status") %> 
		<%= f.submit("Pesquisar", style:"margin-left: 10px;",class:"btn btn-primary") %>
		<%= link_to "Limpar", intranet_privilegios_path ,style:"width: 21%;",class:"btn btn-link" %>
	<% end %> 
	<div style="width: 100%;height: 572px;overflow-y: scroll;" class="table-wrapper-scroll-y my-custom-scrollbar shadow p-3 mb-5 bg-white rounded">
		<table class="table table-hover table-striped mb-0" style="overflow-x: auto;">
			<thead>
			<tr>
				<th style="width:4%">#</th>
				<th style="width:66%">Descrição</th>
				<th style="width:10%">Ativo</th>
				<th colspan="3" style="width:20%;text-align: center;">Ações</th>  
			</tr>
			</thead> 
			<tbody> 
				<% @intranet_privilegios.each do |intranet_privilegio| %>
					<tr>
						<td><%= intranet_privilegio.id %></td> 
						<td><%= intranet_privilegio.descricao %></td> 
						<td><%= check_box_tag 'Ativo','yes',intranet_privilegio.ativo, onclick:"return false;",class: 'form-group',style:"width: 17px;height: 17px;" %></td> 
						<td style="text-align: center;">
						<%= link_to intranet_privilegio, class:"btni" do %>
							<i class="fas fa-eye" style="padding:0px;"></i>
						<% end %>
						</td>  
						<td style="text-align: center;">
						<%= link_to edit_intranet_privilegio_path(intranet_privilegio), class:"btni" do %>
							<i class="fas fa-edit" style="padding-left: 3px;"></i>
						<% end %>
						</td> 
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<br>
	<% if user_signed_in? == false%> 
		<%= link_to new_intranet_privilegio_path,style:"float:right" do %>
		<button class="btn btn-primary">Privilégios</button>
		<% end %>
	<% end %>
</div>
<style>
.btni{  font-size:16px
}
.titulo_page{
	background: #ffb68a;
margin-top: 0px;
height: 64px;
padding: 9px;
    padding-left: 9px;
padding-left: 16px;
border-bottom: 1px solid #d5a487;
color: #ff6000;
text-shadow: 1px 1px 2px #d5a487;
} 
#form_assoc{
	display: flex;
	margin-bottom: 1%;
} 
</style>
<script> 
	var ativ_form = document.getElementById("id_atividade"); 
	ativ_form.classList.add("form-control");   
</script>