<%= javascript_pack_tag "avisos_form" %> 
<%= form_with(model: intranet_aviso) do |form| %> 
  <ul class="nav nav-tabs" style="margin-bottom: 11px;">
    <li class="nav-item">
      <a class="nav-link active" id="btn_menu_1" type="button" >Detalhes da cobrança</a>
    </li> 
    <div style="margin-left: auto;">
      <%= link_to 'Voltar', intranet_avisos_path,class:"btn btn-link" %> 
      <%= link_to 'Visualizar',  @intranet_aviso ,class:"btn btn-primary" if @intranet_aviso.id != nil %> 
    </div>
  </ul>
	<div class="field">
		<%= form.label :titulo %>
    <span style="float: right;font-size: 13px;margin-top: 4px;margin-left:10px">Aviso ativo? <%= form.check_box :ativo %></span>
		<%= form.text_field :titulo, class: 'form-control' %>
	</div><br>
	<div style="display: flex;">
		<div class="field" style="width:100%;">
      <%= form.label :descricao %>
      <%= form.text_field :descricao, class: 'form-control' %>
		</div>   
	</div> 
  <br>
  <br>
	<div class="form-floating">
		<%= form.label :aviso, style:"margin-top: -40px;margin-left: -12px;"%>
		<%= form.rich_text_area :aviso, class: 'form-control', style:"height:auto !important;text-align: justify !important;" %>
	</div>
  <br>
	<% if @intranet_aviso.docs.size > 0%>
    <label>Documentos Anexados</label><br>
		<% @intranet_aviso.docs.each do |doc| %>
			<%= doc.filename%>
			<span style="float:right">
				<%= link_to "Download", rails_blob_url(doc, disposition: 'inline'), target:'blank',	class:"btn btn-info" ,style:"height: 20px;font-size: 13px;padding-top: 0px;"%>
			</span><br>
		<% end %>
  <% else %>
    <div class="field">
	  	<label>Anexar Documentos</label>
		<%= form.file_field :docs, class: 'form-control', multiple:true,class:"form-control" %>
	</div>
	<% end %>   

  <br>
	<div class="field">  
		<%= form.label :atividade %>
      <% @atividades.each do |atvs| %> 
        <p style="display:flex"> 
          <%= form.check_box :intranet_atividade_id, {multiple: true,class:"ckebox",id:"atividade_id_#{atvs.id}"},atvs.id, nil%>
          <%= form.label atvs.descricao%>.
        </p>
		  <% end %>  
		<p style="display:flex"> 
      <input type="checkbox" class="form-group" id="tdscheck" />
      <label >Marcar Todos</label><br/>
		</p>
	</div> 


	<div class="actions">
		<%= form.submit 'Salvar',class:"btn btn-primary", style:"float:right",id:"subform" %>
	</div>
<% end %>
<style>
  #intranet_aviso_atividade_id{
    width: 100%;padding: 3px;
  }
  .field_with_errors{
    border:1px solid red;
    border-radius: 5px;
  }
  .ckebox{
    height: 19px;width: 18px;margin-right: 9px;margin-top: 2px;
  }
  #tdscheck{
    height: 19px;width: 18px;margin-right: 9px;margin-top: 2px;
  }
</style> 