<p id="notice"><%= notice %></p>

<h1>Intranet Financeiro Portadores</h1>

<table>
  <thead>
    <tr>
      <th>Arquivo</th>
      <th>Cnpj</th>
      <th>Codigo banco</th>
      <th>Agencia</th>
      <th>Carteira</th>
      <th>Conta</th>
      <th>Aceite</th>
      <th>Empresa</th>
      <th>Especie titulo</th>
      <th>Moeda</th>
      <th>Numero inicial 1</th>
      <th>Numero inicial 2</th>
      <th>Numero final</th>
      <th>Registro online</th>
      <th>Nome certificado</th>
      <th>Senha certificado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @intranet_financeiro_portadores.each do |intranet_financeiro_portadore| %>
      <tr>
        <td><%= intranet_financeiro_portadore.arquivo %></td>
        <td><%= intranet_financeiro_portadore.cnpj %></td>
        <td><%= intranet_financeiro_portadore.codigo_banco %></td>
        <td><%= intranet_financeiro_portadore.agencia %></td>
        <td><%= intranet_financeiro_portadore.carteira %></td>
        <td><%= intranet_financeiro_portadore.conta %></td>
        <td><%= intranet_financeiro_portadore.aceite %></td>
        <td><%= intranet_financeiro_portadore.empresa %></td>
        <td><%= intranet_financeiro_portadore.especie_titulo %></td>
        <td><%= intranet_financeiro_portadore.moeda %></td>
        <td><%= intranet_financeiro_portadore.numero_inicial_1 %></td>
        <td><%= intranet_financeiro_portadore.numero_inicial_2 %></td>
        <td><%= intranet_financeiro_portadore.numero_final %></td>
        <td><%= intranet_financeiro_portadore.registro_online %></td>
        <td><%= intranet_financeiro_portadore.nome_certificado %></td>
        <td><%= intranet_financeiro_portadore.senha_certificado %></td>
        <td><%= link_to 'Show', intranet_financeiro_portadore %></td>
        <td><%= link_to 'Edit', edit_intranet_financeiro_portadore_path(intranet_financeiro_portadore) %></td>
        <td><%= link_to 'Destroy', intranet_financeiro_portadore, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Intranet Financeiro Portadore', new_intranet_financeiro_portadore_path %>
