<p id="notice"><%= notice %></p>

<p>
  <strong>Arquivo:</strong>
  <%= @intranet_financeiro_portadore.arquivo %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @intranet_financeiro_portadore.cnpj %>
</p>

<p>
  <strong>Codigo banco:</strong>
  <%= @intranet_financeiro_portadore.codigo_banco %>
</p>

<p>
  <strong>Agencia:</strong>
  <%= @intranet_financeiro_portadore.agencia %>
</p>

<p>
  <strong>Carteira:</strong>
  <%= @intranet_financeiro_portadore.carteira %>
</p>

<p>
  <strong>Conta:</strong>
  <%= @intranet_financeiro_portadore.conta %>
</p>

<p>
  <strong>Aceite:</strong>
  <%= @intranet_financeiro_portadore.aceite %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @intranet_financeiro_portadore.empresa %>
</p>

<p>
  <strong>Especie titulo:</strong>
  <%= @intranet_financeiro_portadore.especie_titulo %>
</p>

<p>
  <strong>Moeda:</strong>
  <%= @intranet_financeiro_portadore.moeda %>
</p>

<p>
  <strong>Numero inicial 1:</strong>
  <%= @intranet_financeiro_portadore.numero_inicial_1 %>
</p>

<p>
  <strong>Numero inicial 2:</strong>
  <%= @intranet_financeiro_portadore.numero_inicial_2 %>
</p>

<p>
  <strong>Numero final:</strong>
  <%= @intranet_financeiro_portadore.numero_final %>
</p>

<p>
  <strong>Registro online:</strong>
  <%= @intranet_financeiro_portadore.registro_online %>
</p>

<p>
  <strong>Nome certificado:</strong>
  <%= @intranet_financeiro_portadore.nome_certificado %>
</p>

<p>
  <strong>Senha certificado:</strong>
  <%= @intranet_financeiro_portadore.senha_certificado %>
</p>

<%= link_to 'Edit', edit_intranet_financeiro_portadore_path(@intranet_financeiro_portadore) %> |
<%= link_to 'Back', intranet_financeiro_portadores_path %>
