<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @intranet_regiao.descricao %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @intranet_regiao.ativo %>
</p>

<%= link_to 'Edit', edit_intranet_regiao_path(@intranet_regiao) %> |
<%= link_to 'Back', intranet_regiaos_path %>
