<div class="container" style="margin-bottom: 90px;">
	<div class="page-header">
		<h1 style="border-bottom: 1px solid #f8f9fa;margin-top: 3%;">Visualizar Pergunta</h1>      
	</Div>
	<p>Visualização da pergunta n°: <%= @intranet_pergunt.id %>.</p> 
	<ul class="nav nav-tabs" style="margin-bottom: 11px;">
		<li class="nav-item">
			<a class="nav-link active" id="btn_menu_1" type="button" >Detalhes da pergunta</a>
		</li> 
		<div style="margin-left: auto;">
			<%= link_to 'Voltar', :back,class:"btn btn-link" %> 
			
            <% if user_signed_in? == false  %>
				<%= link_to 'Responder', edit_intranet_pergunt_path(@intranet_pergunt),class:"btn btn-primary" %> 
				<a  class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal<%= @intranet_pergunt.id %>">Deletar</i></a>
			<% else %>
				<% if @intranet_pergunt == nil %>
					<%= link_to 'Editar', edit_intranet_pergunt_path(@intranet_pergunt),class:"btn btn-primary" %>
				<% end %>
			<% end %>
		</div>
		<div class="modal fade" id="exampleModal<%= @intranet_pergunt.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Deletar pergunta</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
				</div>
				<div class="modal-body">
					Deseja deletar pergunta <%= @intranet_pergunt.assunto %>.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" focus>cancelar</button> 
					<%= link_to intranet_pergunt_path, method: :delete do %> 
						<button type="button" class="btn btn-danger">Excluir</button>
					<% end %>
				</div>
				</div>
			</div>
		</div>
	</ul>
	<div class="form-group" style="display:flex">
		<div style="width:100%;margin-right: auto;">
			<label  class="col-sm-15 col-form-label" style="max-width: inherit;">
				Autor   
			</label>
			<div class="col-sm-15 correct-md-15" >  
				<input placeholder="<%= @associado.nome %>" class='form-control' style="background: #f8f9fa;"><br />
			</div>
		</div> 
	</div>    
	<div class="form-group" style="display:flex">
		<div style="width:100%;margin-right: auto;">
			<label  class="col-sm-15 col-form-label" style="max-width: inherit;">
				Assunto  
			</label>
			<div class="col-sm-15 correct-md-15" >  
				<input placeholder="<%= @intranet_pergunt.assunto %>" class='form-control' style="background: #f8f9fa;"><br />
			</div>
		</div> 
	</div>    
  <div class="form-group" style="display:flex">
		<div style="width:49%;margin-right: auto;">
			<label  class="col-sm-15 col-form-label" style="max-width: inherit;">
				Tipo  
			</label>
			<div class="col-sm-15 correct-md-15" >   
				<%= select_tag 'readonly', options_for_select([["Instituto de Protestos",1],["Registro Civil Pessoas Jurídicas",2],["Registro Civil Pessoas Naturais",3],["Registro de Imóveis",4],["Registro de Títulos e Documentos",5]],@intranet_pergunt.tipo), class:"form-control",prompt:"Selecione o tipo da pergunta",onchange:"this.value = '#{@intranet_pergunt.tipo}'"%> 
			</div>
		</div>   
    <div style="width:49%;margin-left: auto;">
			<label  class="col-sm-15 col-form-label" style="max-width: inherit;">
				Criação  
			</label>
			<div class="col-sm-15 correct-md-15" >  
				<input placeholder="<%= @intranet_pergunt.created_at.strftime("%d/%m/%Y") %>" class='form-control' style="background: #f8f9fa;"><br />
			</div>
		</div> 
	</div>
	<div class="form-group" style="display:flex">
		<div style="width:100%;margin-right: auto;">
			<label  class="col-sm-15 col-form-label" style="max-width: inherit;">
				Pergunta  
			</label>
			<div class="col-sm-15 correct-md-15" >   
				<span class='form-control' style="background: #f8f9fa;height: auto;" ><%= @intranet_pergunt.mensagem_pergunta %></span><br /> 
			</div>
		</div> 
	</div>     
  <hr class="form-group"  style="margin-left: -17px;margin-right: -17px;">
  <% if @intranet_pergunt.mensagem_resposta != nil %> 
    <div class="form-group" style="display:flex">
      <div style="width:100%;margin-right: auto;">
        <label  class="col-sm-15 col-form-label" style="max-width: inherit;">
          Resposta  
        </label>
        <div class="col-sm-15 correct-md-15" >   
          <span class='form-control' style="background: #f8f9fa;height: auto;" ><%= @intranet_pergunt.mensagem_resposta %></span><br />  
          <h6 style="float: right;color: #b0afaf;"><%= @intranet_pergunt.status %>.</h6>
        </div>
      </div> 
    </div>    
  <% else %>
    <h6 style="text-align: center;
    color: #969696eb;
    text-shadow: 0px 0px 1px #01153aa8;
    font-weight: bold;">Pergunta ainda sem resposta</h6>
  <% end %> 
</div>     
<style> 
  .correct-md-15{
    max-width: 100%;
  }
</style>