<%= form_with(model: intranet_financeiro_tipos_cobanca) do |form| %>
  <% if intranet_financeiro_tipos_cobanca.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(intranet_financeiro_tipos_cobanca.errors.count, "error") %> prohibited this intranet_financeiro_tipos_cobanca from being saved:</h2>

      <ul>
        <% intranet_financeiro_tipos_cobanca.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao %>
  </div>

  <div class="field">
    <%= form.label :tipo_valor %>
    <%= form.text_field :tipo_valor %>
  </div>

  <div class="field">
    <%= form.label :sindical %>
    <%= form.check_box :sindical %>
  </div>

  <div class="field">
    <%= form.label :ativo %>
    <%= form.check_box :ativo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
