<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @intranet_financeiro_tipos_cobanca.descricao %>
</p>

<p>
  <strong>Tipo valor:</strong>
  <%= @intranet_financeiro_tipos_cobanca.tipo_valor %>
</p>

<p>
  <strong>Sindical:</strong>
  <%= @intranet_financeiro_tipos_cobanca.sindical %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @intranet_financeiro_tipos_cobanca.ativo %>
</p>

<%= link_to 'Edit', edit_intranet_financeiro_tipos_cobanca_path(@intranet_financeiro_tipos_cobanca) %> |
<%= link_to 'Back', intranet_financeiro_tipos_cobancas_path %>
