<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @intranet_associado.user_id %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @intranet_associado.cidade_id %>
</p>

<p>
  <strong>Matricula:</strong>
  <%= @intranet_associado.matricula %>
</p>

<p>
  <strong>Data nascimento:</strong>
  <%= @intranet_associado.data_nascimento %>
</p>

<p>
  <strong>Funcao:</strong>
  <%= @intranet_associado.funcao %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @intranet_associado.rg %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @intranet_associado.sexo %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @intranet_associado.ativo %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @intranet_associado.cep %>
</p>

<p>
  <strong>Logradouro:</strong>
  <%= @intranet_associado.logradouro %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @intranet_associado.complemento %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @intranet_associado.bairro %>
</p>

<p>
  <strong>Telefone 1:</strong>
  <%= @intranet_associado.telefone_1 %>
</p>

<p>
  <strong>Telefone 2:</strong>
  <%= @intranet_associado.telefone_2 %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @intranet_associado.celular %>
</p>

<p>
  <strong>Whatsapp:</strong>
  <%= @intranet_associado.whatsapp %>
</p>

<p>
  <strong>Email:</strong>
  <%= @intranet_associado.email %>
</p>

<%= link_to 'Edit', edit_intranet_associado_path(@intranet_associado) %> |
<%= link_to 'Back', intranet_associados_path %>
