<div class="container background_principal">
	<h2></h2> 
	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		<div class="mb-3">
			<label class="form-label">Numero do CPF</label>
			<%= icon("person", class: "icone-login-user") %> 
			<%= f.text_field :cpf, autofocus: true,class:"form-control", id:"user_cpf", type:"text", maxlength:"14", style:"padding: 0.375rem 1.75rem;", placeholder:"CPF do operador"%>
			<div id="cpfHelp" class="form-text">Informe o numero de <b>CPF</b> utilizado no cadastro</div>
		</div>  
		<div class="mb-3">
			<label for="exampleInputPassword1" class="form-label">Senha</label> 
			<%= icon("key", class: "icone-login-key") %>
			<%= f.password_field :password, autocomplete: false,class:"form-control", style:"padding: 0.375rem 1.75rem;",placeholder:"Senha" %>
		</div>  
		<%= f.submit "Entrar como operador",class:"btn btn-primary", style:"border: 1px;
background: #ff8b45;
font-weight: bold; 
float: right;
width: 100%;
margin-bottom: 7%;" %> 
	<%= render "admins/shared/links" %>
	<% end %> 
	<% flash.each do |name, msg| %> 
		<% name = 'warning' if name == 'alert'%>
		<% name = 'info' if name == 'notice'%>
		<div data-notify="container" class="col-11 col-sm-4 alert alert-<%= name %> alert-with-icon" role="alert" data-notify-position="top-right" style="display: inline-block; margin: 0px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 5;bottom: 15px;right: 16px;">
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"  style="background: white;padding-left: 4px;border-radius: 14px;margin: 0px;padding-right: 5px;padding-top: 1px;"><span aria-hidden="true"><i class="fas fa-times"></i></button>
		<span data-notify="icon" class="nc-icon nc-app"></span> 
		<% if name == 'info' %>   
			<span data-notify="title">Informação:</span>
		<% elsif name == 'success'%>
			<span data-notify="title">Sucesso:</span> 
		<% elsif name == 'danger'%>
			<span data-notify="title">Perigo:</span>  
		<% elsif name == 'warning'%> 
			<span data-notify="title">Aviso:</span>
		<% end %>
		<span data-notify="message"><%=sanitize(msg)%></span>
		<a href="#" target="_blank" data-notify="url"></a>
		</div>
	<% end %>
</div>
<style> 
label{
	display: inline-block;
    font-weight: bold;
    margin-bottom: 0rem;
    color: #0b386b;
}
#user_serventia{
	width: 100%;
}
.mb-3 .icone-login-key{
  position:absolute;
}
.icone-login-key { 
  color: rgb(4 39 78);
  margin-top: 43px;
  margin-left: -44px;
  z-index: 9;
}
.mb-3 .icone-login-user{
  position:absolute;
}
.icone-login-user { 
  	color: rgb(4 39 78);
	margin-top: 43px;
	margin-left: -119px;
  	z-index: 9;
} 
#new_admin{
	padding:14px;
}

.background_principal{
	background-position: top;
    background-position-y: 51px;
    padding-top: 166px; 
    background-size: 92px;
    background-image: url(/assets/logo.png);
    background-repeat: no-repeat;
}
</style> 
