<p id="notice"><%= notice %></p>

<p>
  <strong>Ano:</strong>
  <%= @intranet_contribuicao_importada.ano %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @intranet_contribuicao_importada.documento %>
</p>

<%= link_to 'Edit', edit_intranet_contribuicao_importada_path(@intranet_contribuicao_importada) %> |
<%= link_to 'Back', intranet_contribuicao_importadas_path %>
