<p id="notice"><%= notice %></p>

<p>
  <strong>Intranet financeiro tipos cobranca:</strong>
  <%= @intranet_boleto.intranet_financeiro_tipos_cobranca_id %>
</p>

<p>
  <strong>Intranet financeiro portadores:</strong>
  <%= @intranet_boleto.intranet_financeiro_portadores %>
</p>

<p>
  <strong>Intranet regiao:</strong>
  <%= @intranet_boleto.intranet_regiao_id %>
</p>

<p>
  <strong>Intranet entrancias:</strong>
  <%= @intranet_boleto.intranet_entrancias_id %>
</p>

<p>
  <strong>Intranet contribuicao:</strong>
  <%= @intranet_boleto.intranet_contribuicao_id %>
</p>

<p>
  <strong>Intranet atividade:</strong>
  <%= @intranet_boleto.intranet_atividade %>
</p>

<p>
  <strong>Intranet cartorio:</strong>
  <%= @intranet_boleto.intranet_cartorio_id %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @intranet_boleto.valor %>
</p>

<p>
  <strong>Vencimento:</strong>
  <%= @intranet_boleto.vencimento %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @intranet_boleto.descricao %>
</p>

<p>
  <strong>Observacao email:</strong>
  <%= @intranet_boleto.observacao_email %>
</p>

<p>
  <strong>Forma cobranca:</strong>
  <%= @intranet_boleto.forma_cobranca %>
</p>

<p>
  <strong>Apenas titular:</strong>
  <%= @intranet_boleto.apenas_titular %>
</p>

<%= link_to 'Edit', edit_intranet_boleto_path(@intranet_boleto) %> |
<%= link_to 'Back', intranet_boletos_path %>
