<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @intranet_arquivos_tipo.descricao %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @intranet_arquivos_tipo.ativo %>
</p>

<%= link_to 'Edit', edit_intranet_arquivos_tipo_path(@intranet_arquivos_tipo) %> |
<%= link_to 'Back', intranet_arquivos_tipos_path %>
