<p id="notice"><%= notice %></p>

<p>
  <strong>Possui cnpj?:</strong>
  <%= @intranet_cartorio.possui_cnpj? %>
</p>

<p>
  <strong>Cei:</strong>
  <%= @intranet_cartorio.cei %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @intranet_cartorio.cnpj %>
</p>

<p>
  <strong>Cod tj:</strong>
  <%= @intranet_cartorio.cod_tj %>
</p>

<p>
  <strong>Cod cnj:</strong>
  <%= @intranet_cartorio.cod_cnj %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @intranet_cartorio.nome %>
</p>

<p>
  <strong>Nome fant:</strong>
  <%= @intranet_cartorio.nome_fant %>
</p>

<p>
  <strong>Nome res:</strong>
  <%= @intranet_cartorio.nome_res %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @intranet_cartorio.cep %>
</p>

<p>
  <strong>Logradouro:</strong>
  <%= @intranet_cartorio.logradouro %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @intranet_cartorio.numero %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @intranet_cartorio.bairro %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @intranet_cartorio.complemento %>
</p>

<p>
  <strong>Telefone fixo:</strong>
  <%= @intranet_cartorio.telefone_fixo %>
</p>

<p>
  <strong>Telefone celular:</strong>
  <%= @intranet_cartorio.telefone_celular %>
</p>

<p>
  <strong>Whatsapp:</strong>
  <%= @intranet_cartorio.whatsapp %>
</p>

<p>
  <strong>Email:</strong>
  <%= @intranet_cartorio.email %>
</p>

<p>
  <strong>Forma branca:</strong>
  <%= @intranet_cartorio.forma_branca %>
</p>

<p>
  <strong>Observacao:</strong>
  <%= @intranet_cartorio.observacao %>
</p>

<p>
  <strong>Regiao:</strong>
  <%= @intranet_cartorio.regiao_id %>
</p>

<p>
  <strong>Contribuicao:</strong>
  <%= @intranet_cartorio.contribuicao_id %>
</p>

<p>
  <strong>Atividade:</strong>
  <%= @intranet_cartorio.atividade_id %>
</p>

<p>
  <strong>Entrancia:</strong>
  <%= @intranet_cartorio.entrancia_id %>
</p>

<p>
  <strong>Boleto:</strong>
  <%= @intranet_cartorio.boleto_id %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @intranet_cartorio.cidade_id %>
</p>

<p>
  <strong>Associado:</strong>
  <%= @intranet_cartorio.associado_id %>
</p>

<p>
  <strong>Substituto:</strong>
  <%= @intranet_cartorio.substituto_id %>
</p>

<p>
  <strong>Tabeliaes:</strong>
  <%= @intranet_cartorio.tabeliaes_id %>
</p>

<%= link_to 'Edit', edit_intranet_cartorio_path(@intranet_cartorio) %> |
<%= link_to 'Back', intranet_cartorios_path %>
