<%= form_with(model: intranet_entrancium) do |form| %>
  <ul class="nav nav-tabs" style="margin-bottom: 11px;">
    <li class="nav-item">
      <a class="nav-link active" id="btn_menu_1" type="button" >Detalhes do entrância</a>
    </li> 
    <div style="margin-left: auto;">
      <%= link_to 'Voltar', :back,class:"btn btn-link" %> 
      <%= link_to 'Visualizar',  @intranet_entrancium ,class:"btn btn-primary" if @intranet_entrancium.id != nil %> 
    </div>
  </ul> 
  <% if intranet_entrancium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(intranet_entrancium.errors.count, "error") %> prohibited this intranet_entrancium from being saved:</h2>

      <ul>
        <% intranet_entrancium.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group row" style="display:flex">
    <div style="width:100%;margin-right: auto;">
      <label  class="col-sm-2 col-form-label" style="max-width: inherit;">
        Descrição 
        <span style="float: right;font-size: 13px;margin-top: 4px;">ativar entrância? <%= form.check_box :ativo %></span>
      </label>
      <div class="col-sm-10 correct-md-10" > 
        <%= form.text_field :descricao,class:"form-control",required:true %>
      </div>
    </div> 
  </div>  
  <br>
	<div class="actions">
		<%= form.submit 'Salvar',class:"btn btn-primary", style:"float:right",id:"subform" %>
	</div>
<% end %>
<style> 
  .correct-md-10{
    max-width: 100%;
    width: 100%;
  }
  .col-sm-2{
    max-width: 100%;
    width: 100%;
  } 	
</style>