<p id="notice"><%= notice %></p>

<h1>Intranet Entrancia</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Ativo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @intranet_entrancia.each do |intranet_entrancium| %>
      <tr>
        <td><%= intranet_entrancium.descricao %></td>
        <td><%= intranet_entrancium.ativo %></td>
        <td><%= link_to 'Show', intranet_entrancium %></td>
        <td><%= link_to 'Edit', edit_intranet_entrancium_path(intranet_entrancium) %></td>
        <td><%= link_to 'Destroy', intranet_entrancium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Intranet Entrancium', new_intranet_entrancium_path %>
