<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @intranet_entrancium.descricao %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @intranet_entrancium.ativo %>
</p>

<%= link_to 'Edit', edit_intranet_entrancium_path(@intranet_entrancium) %> |
<%= link_to 'Back', intranet_entrancia_path %>
