<script src="https://unpkg.com/imask"></script> 
<div class="container" style="margin-bottom:104px;">   
  <div class="page-header">
    <h1 style="border-bottom: 1px solid #f8f9fa;margin-top: 3%;">Tabelião</h1>      
  </div>
  <p>Visualizar tabelião Nº <b><%= @intranet_tabeliao.id%></b>.</p>  
  <ul class="nav nav-tabs" style="margin-bottom:11px;">
    <li class="nav-item">
      <a class="nav-link active" id="btn_menu_1" type="button" >Detalhes da tabelião</a>
    </li> 
    <div style="margin-left: auto;">
      <%= link_to 'Voltar', :back,class:"btn btn-link" %> 
      <%= link_to 'Editar', edit_intranet_tabeliao_path(@intranet_tabeliao),class:"btn btn-primary" %> 
      <a  class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal<%= @intranet_tabeliao.id %>">Deletar</i></a>
    </div>
    <div class="modal fade" id="exampleModal<%= @intranet_tabeliao.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Deletar tabelião</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
          </div>
          <div class="modal-body">
              Deseja deletar tabelião <%= @intranet_tabeliao.nome %>.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" focus>cancelar</button> 
            <%= link_to intranet_tabeliao_path, method: :delete do %> 
              <button type="button" class="btn btn-danger">Excluir</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </ul>
  <div class="form-group row" style="display:flex">
    <div style="width:100%">
      <label  class="col-sm-2 col-form-label" style="max-width: inherit;" >Nome 
				<span style="float: right;font-size: 13px;margin-top: 4px;">
					Tabelião atual? 
					<%= check_box_tag 'Ativo','yes',@intranet_tabeliao.atual?, onclick:"return false;" %>
				</span>
      </label>
      <div class="col-sm-10 correct-md-10" >
        <input type="text" readonly class="form-control-plaintext input-show"  value="<%= @intranet_tabeliao.nome %>">
      </div>
    </div>
  </div> 
  <div class="form-group row" style="display:flex">
    <div style="width:100%">
      <label  class="col-sm-2 col-form-label" >Cartório</label>
      <div class="col-sm-10 correct-md-10" >
        <input type="text" readonly class="form-control-plaintext input-show"  value="<%= @intranet_cart.nome %>">
      </div>
    </div>
  </div>  
  <div class="form-group row" style="display:flex">
    <div style="width:100%">
      <label  class="col-sm-2 col-form-label" >E-mail</label>
      <div class="col-sm-10 correct-md-10" >
        <input type="text" readonly class="form-control-plaintext input-show"  value="<%= @intranet_tabeliao.email %>">
      </div>
    </div>
  </div>  
  <div class="form-group row" style="display:flex">
    <div style="width:49.5%;margin-right:auto">
      <label  class="col-sm-2 col-form-label" >CPF</label>
      <div class="col-sm-10 correct-md-10" >
        <input type="text" readonly class="form-control-plaintext input-show"  value="<%= @intranet_tabeliao.cpf %>">
      </div>
    </div>
    <div style="width:49.5%;margin-left:auto">
      <label  class="col-sm-2 col-form-label" >RG</label>
      <div class="col-sm-10 correct-md-10" >
        <input type="text" readonly class="form-control-plaintext input-show"  value="<%= @intranet_tabeliao.rg %>">
      </div>
    </div>
  </div> 
  <div class="form-group row" style="display:flex">
    <div style="width:49.5%;margin-right:auto">
      <label  class="col-sm-2 col-form-label" style="max-width: inherit;" >Telefone
				<span style="float: right;font-size: 13px;margin-top: 4px;">
					É whatsapp? 
					<%= check_box_tag 'Ativo','yes',@intranet_tabeliao.whatsapp, onclick:"return false;" %>
				</span>
      </label>
      <div class="col-sm-10 correct-md-10" >
        <input type="text" readonly class="form-control-plaintext input-show"  value="<%= @intranet_tabeliao.telefone %>">
      </div>
    </div>
  </div> 
</div> 
<style>
  .input-show{
    background: #f8f9fa;
    border-radius: 2px;
    border: 1px solid #ededed;
    padding-left: 12px;
    padding-right: 12px;
  }
  .correct-md-10{
    max-width: 100%;
    width: 100%;
  }
  .col-sm-2{
    max-width: 100%;
    width: 100%;
  } 	
</style> 