<p id="notice"><%= notice %></p>

<p>
  <strong>Dt inicio:</strong>
  <%= @intranet_tabeliao.dt_inicio %>
</p>

<p>
  <strong>Dt final:</strong>
  <%= @intranet_tabeliao.dt_final %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @intranet_tabeliao.cpf %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @intranet_tabeliao.rg %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @intranet_tabeliao.nome %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @intranet_tabeliao.telefone %>
</p>

<p>
  <strong>Whatsapp:</strong>
  <%= @intranet_tabeliao.whatsapp %>
</p>

<p>
  <strong>Email:</strong>
  <%= @intranet_tabeliao.email %>
</p>

<p>
  <strong>Atual?:</strong>
  <%= @intranet_tabeliao.atual? %>
</p>

<%= link_to 'Edit', edit_intranet_tabeliao_path(@intranet_tabeliao) %> |
<%= link_to 'Back', intranet_tabeliaos_path %>
