
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <%= link_to destroy_admin_session_path, method: :delete, class:'sair' do %>
        <i class="fas fa-door-open" style="color: black;font-size: 19px;margin-top: 4px;margin-right: 3px;"></i>
    <% end %> 
    <%= link_to administrador_home_path, style:"color: #000;", class:"navbar-brand" do %>
            <b>SINOREDI-CE</b> Área Restrita
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="padding: 4px;width: 33px;margin-left: -10px;">
      <i class="fas fa-bars" style="color: black;font-size: 19px;"></i>
    </button> 
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="width: 100%;align-items: center;justify-content: center;">
            <li class="nav-item"> 
                <%= link_to 'Home', administrador_home_path,class:"nav-link active"%>  
            </li> 
            <li class="nav-item"> 
                <%= link_to 'Arquivos', administrador_home_path,class:"nav-link "%>  
            </li> 

            <li class="nav-item dropdown" style="display:block">
                <span class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">
                    Ferramentas 
                </span>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkUl"> 
                    <li><%= link_to 'Arquivos', administrador_home_path   ,class:"dropdown-item"%></li>     
                    <li><%= link_to 'Chamados', administrador_home_path   ,class:"dropdown-item"%></li> 
                    <li><%= link_to 'Eventos', administrador_home_path    ,class:"dropdown-item"%></li>   
                    <li><%= link_to 'Financeiro', administrador_home_path ,class:"dropdown-item"%></li> 
                    <li><%= link_to 'Reunião', administrador_home_path    ,class:"dropdown-item"%></li>   
                    <li><%= link_to 'Visitantes', administrador_home_path ,class:"dropdown-item"%></li>  
                    <li><%= link_to 'Mala direta', administrador_home_path,class:"dropdown-item"%></li>  
                </ul>
            </li>

            <li class="nav-item dropdown" style="display:block">
                <span class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">
                    Cadastros
                </span>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkUl"> 
                    <li><%= link_to 'Avisos',        intranet_avisos_path       ,class:"dropdown-item"%></li>
                    <li><%= link_to 'Atividades',    intranet_atividades_path   ,class:"dropdown-item"%></li> 
                    <li><%= link_to 'Entrâncias',    intranet_entrancia_path    ,class:"dropdown-item"%></li>
                    <li><%= link_to 'Contribuiçoes', intranet_contribuicaos_path,class:"dropdown-item"%></li>
                    <li><%= link_to 'Regiões',        intranet_regiaos_path     ,class:"dropdown-item"%></li> 
                    <li><%= link_to 'Departamentos', intranet_departamentos_path,class:"dropdown-item"%></li> 
                    <li><%= link_to 'Privilégios', intranet_privilegios_path    ,class:"dropdown-item"%></li> 
                </ul>
            </li>

            <% if @master%> 
                <li class="nav-item dropdown" style="display:block">
                    <span class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">
                        Administração
                    </span>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkUl"> 
                        <li><%= link_to 'Parametros',        intranet_avisos_path       ,class:"dropdown-item"%></li>
                        <li><%= link_to 'Cadastrar Administrador', intranet_avisos_path ,class:"dropdown-item"%></li>
                        
                    </ul>
                </li> 
            <% end %>
        </ul>
    </div>
  </div>
</nav> 
<div class="container"> 
    <div class="central_msgs">
        <% flash.each do |name, msg| %> 
            <% name = 'warning' if name == 'alert'%>
            <% name = 'info' if name == 'notice'%>
            <div data-notify="container" class="col-11 col-sm-4 alert alert-<%= name %> alert-with-icon" role="alert" data-notify-position="top-right" style="transition: all 0.5s ease-in-out 0s;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="background: white;padding-left: 4px;border-radius: 14px;margin: 0px;padding-right: 5px;padding-top: 1px;">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span data-notify="icon" class="nc-icon nc-app"></span> 
                <% if name == 'info' %>   
                    <span data-notify="title">Informação:</span>
                <% elsif name == 'success'%>
                    <span data-notify="title">Sucesso:</span> 
                <% elsif name == 'danger'%>
                    <span data-notify="title">Perigo:</span>  
                <% elsif name == 'warning'%> 
                    <span data-notify="title">Aviso:</span>
                <% end %>
                <span data-notify="message"><%=sanitize(msg)%></span>
                <a href="#" target="_blank" data-notify="url"></a>
            </div> 
        <% end %>
    </div>
</div>
<style>
.navbarDropdownMenuLink:hover  .navbarDropdownMenuLinkUl{
    display:block !important; 
}
.exit{
    height: 30px;
    width: 30px;
    color: #ced4da;
    margin-left: 17px;
    margin-right: -27px;
    margin-top: 0px;
}
.icon-pesquisa{
    color: #a9aeb3;
    width: 23px;
    height: 23px;
    margin: 0px;
}
.btn-outline-success:hover .icon-pesquisa{
    color:white
}
.sair{ 
    height: 30px;
}
.central_msgs{
    position: fixed;
    z-index: 2;
    bottom: 56px;
    width: 100%;
    right: 0px;
    justify-content: flex-end;
    display: flex;
}
</style>